/*** Carousel ***/

.wallpapper {
  position: relative;
  height: 80vh;
  width: 100vw;
  object-fit: cover;
}
.wallpapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 27, 27, 0.315);
}

.wallpapper > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wallpapper-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
}
.wallpapper-text > * {
  text-align: center;
}
